h1 {
    margin: 15px;
    font-size: 48px;
    word-spacing: -12px;
    font-weight: 700;
    line-height: 1.2; 
    color: yellow;
    display: -ms-flexbox;
    display: flex;
}
p {
    margin: 50px;
    color: brown;
}